.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(177, 179, 171);


}

.coat {
    height: 200px;
    width: 400px;
    border: 2px solid rgba(204, 236, 211, 0.3);
    background-color: rgb(215, 216, 211);
}

.container {
    height: 200px;
    width: 400px;
    border: 2px solid rgba(186, 212, 255, 0.3);
    background-color: black;

}

.name {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.password {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.coat input {
    border: none;
    border-bottom: 1px solid rgb(139, 138, 138);
    background-color: rgb(215, 216, 211);
}

button {
    border: none;
}